.navbar_container{
    display: flex;
    width: 100%;
    background: transparent;
    

   
   
    position: sticky;
    top: 0;
    
}
    
.navbar_color{
    height: 50px;
    background-color:aquamarine;
    border-bottom: 2px solid hsl(160, 39%, 18%);
}
.navbar_dark{
    background-color: darkblue;
    height: 55px;
}
.navbar_logo{
    position: fixed;
    left: 10px;
    top: 5px;
   margin-bottom: 5px;
   height: 40px;
   object-fit: contain;
   cursor: pointer;
    
}
.navbar_button{
    background-color: brown;
    color: azure;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}
.navbar_icons{
    position: fixed;
    right:15px;
    top: 12px;
    color: darkorange;
    cursor: pointer;
}